/* ========= GENERAL ========= */
@import url(https://fonts.googleapis.com/css?family=Cabin:400,400italic,600,700,500);

a:hover,
a:visited {
    text-decoration: none;
}
.alt-li {
  background: #e8f3ff;
  padding: 5% 0;
}
.btn-primary {
    background-color: #004471;
    border-radius: 0;
}
.btn-primary:hover {
    background-color: #005288;
}

h1, h2, h3, h4, h5, h6, ol {
  font-family: 'Cabin', serif;
}

body, p {
  font-family: 'Open Sans', sans-serif;
}

/* ========= HEADER ========= */
.cover-container {
    background:
      linear-gradient(rgba(0, 66, 102, 1.0), transparent 100%),
      linear-gradient(0deg, rgba(0, 66, 102, 1.0), transparent 100%),
      url('../img/ny-filtered.jpg');
    background-size: cover;
    text-align: center;
    vertical-align: middle;
}
.cover-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1% 20% 3%;
    position: relative;
    display: inline-block;
}
.header-img {

    width: 35%;
    padding: 0 5% 5%;
}
.header-text {
  font-family: 'Cabin', serif;
  font-size: 3em;
  text-align: left;
  color: white;
  padding: 10% 10%;

}
.btn {
  font-family: 'Cabin', serif;
  font-size: 1.5em;
  text-transform: none;
  padding: 15px 40px;
}
.btn-1a:hover,
.btn-1a:active {
	color: #004266;
	background: #fff;
}
.btn-1a:after {
  color: #fff;
}
.landing-icons h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
}
.landing-icons a {
    font-size: 48px;
    line-height: 90px;
}

.hi-icon-effect-1 .hi-icon {
    background: rgba(255, 255, 255, 0.2);
}
.hi-icon-effect-1a .hi-icon:hover {
    background: rgba(255, 255, 255, 1);
    color: #005288;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    text-decoration: none;
}

#blurb {
    background: url('../img/street-bg.jpg');
    background-size: cover;
    color: #ecf0f1;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 500;
    padding: 5% 0;
    -webkit-box-shadow: inset 0px 0px 41px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 41px -2px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 41px -2px rgba(0, 0, 0, 1);
}

/* ========= HOW IT WORKS ========= */
#how-it-works {
  padding: 2%;
}

#how-it-works ul {
  list-style-type: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #004266;
    color: #fff;
}
.nav-tabs>li>a {
    background-color: #fff;
    border-color: #e7e7e7;
}
.nav-tabs>li>a:hover {
    background-color: #005288;
    color: #fff;
}
.tab-pane li {
    font-size: 1.5em;
    padding-bottom: 1%;
}
.tab-pane li p {
    font-size: 0.67em;
}
.hiw-icon {
  margin: 0 auto;
  width: 50%;
}

/* ========= CONTACT ========= */
#contact {
    padding-top: 2%;
    background: url('../img/street-bg.jpg');
    background-size: cover;
    background-position: center bottom;
    color: #ecf0f1;
    -webkit-box-shadow: inset 0px 0px 41px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 41px -2px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 41px -2px rgba(0, 0, 0, 1);
}
#ajax-contact input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    background-color: #fff;
    border-radius: 0;
}
textarea {
    height: 200px;
    resize: vertical
}
#ajax-contact .form-label {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    display: block;
    margin: 0 auto;
}
.control-label {
    font-size: 1em;
}

.footer-brand {
  margin: 4% auto;
  width: 50%;
}
.footer-social {
  display: table;
  margin: 0 auto;
  padding: 0 2%;
}
.footer-social li {
  display: inline-block;
}

/* ========= FOOTER ========= */
footer {
  padding-top: 3%;
    color: #fff;
    text-align: right;
}

/* ========= MOBILE ========= */
@media (max-width: 1000px) {
    .header-img {
      margin: 0 auto;
        width: 100%;
        padding: 5% 5% 5%;
    }
}
